<p-dialog [header]="'¡FELIZ CUMPLEAÑOS '+user.first_name+ ' ' + user.second_name+'!'" [(visible)]="flagBirhday"
          [style]="{width: '300px'}"
          [modal]="true">
    <img [src]="'assets/layout/images/pages/attendance/birthday/'+randomNumber+'.gif'" alt="mirage-layout" width="270px"/>
</p-dialog>
<p-messages [(value)]="msgs" [closable]="false"></p-messages>
<div class="landing-body">
    <div id="meet-mirage" class="section">
        <div class="section-title">
            <h3>DASHBOARD - {{role.name}}</h3>
        </div>
        <div class="feature-cards">
            <div class="feature-card" *ngFor="let shortcut of shortcuts">
                <div class="feature-card-img">
                    <img [src]="STORAGE_URL+shortcut.image" alt="mirage-layout"/>
                </div>
                <div class="feature-card-title">{{shortcut.title}}</div>
                <div class="feature-card-content">
                    <div class="buttons">
                        <button id="{{shortcut.id}}" name="{{shortcut.id}}" type="button" pButton label="Ingresar"
                                icon="pi pi-external-link" class="p-button-raised"
                                routerLink="{{shortcut.uri}}" pTooltip="Haz click para ingresar"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
